.userOptions__container {
  background-color: #fff;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 20px;
  top: 58px;
  width: 300px;
  z-index: 1;
}

.userOptions__option {
  cursor: pointer;
  padding: 10px;
}

.userOptions__option:hover {
  background-color: #eee;
}
