.homePage__container {
  display: grid;
  grid-template-areas: 'search' 'side' 'main';
  grid-gap: 10px;
  margin: 20px;
}

.homePage__main {
  grid-area: main;
}

@media screen and (min-width: 769px) {
  .homePage__container {
    grid-gap: 20px;
    grid-template-areas: 'search .' 'main side';
    grid-template-columns: auto 200px;
  }
}

@media screen and (min-width: 1024px) {
  .homePage__container {
    grid-template-columns: auto auto 200px;
    grid-template-areas: 'search search search' 'main main side';
  }
}
