.homePage__container {
  display: grid;
  grid-template-areas: 'search' 'side' 'main';
}

.homePage__main {
  grid-area: main;
}

@media screen and (min-width: 1024px) {
  .homePage__container {
    grid-template-areas: 'search .' 'main side';
  }
}

@media screen and (min-width: 1024px) {
  .homePage__container {
    grid-template-columns: auto auto 200px;
    grid-template-areas: 'search . .' 'main main side';
    margin: 20px;
  }
}
