.header__container {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.header__title {
  color: var(--main-color);
}

.header__user {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.header__userName {
  color: var(--main-color);
  font-size: 18px;
  margin: 0 5px;
}
