.header__container {
  background-color: var(--secondary-color);
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 58px;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.header__title {
  color: var(--main-background);
}

.header__user {
  align-items: center;
  color: var(--main-background);
  cursor: pointer;
  display: flex;
}

.header__userName {
  font-size: 18px;
  margin: 0 5px;
}
