.search__container {
  display: flex;
  grid-area: search;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .search__container {
    margin: 0;
  }
}

.search__inputContainer {
  position: relative;
}

.search__input {
  border: none;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  height: 50px;
  padding: 0 60px 0 15px;
  width: 350px;
}

.search__button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #555555;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.search__button:hover {
  background-color: #eeeeee;
}

.search__loadingIcon {
  color: #555555;
  font-size: 18px;
  position: absolute;
  right: 16px;
  top: 16px;
}
