.loginPage__container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.loginPage__formGroup {
  margin-bottom: 10px;
}

.loginPage__button {
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.loginPage__button:hover {
  opacity: 0.8;
}

.loginPage__error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 20px;
}
